<!--Tela de confirmação de delete do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
<title>Excluir Processo</title>
{% endblock %}

{% block conteudo %}  
<div class="container p-5">
    <div class="card">
        <div class="card-header text-white" style="background-color: rgba(190, 0, 0, 0.849);">
            {% for atributo in dados_processo %}
                <h5 style="text-align: center;">Excluir Processo: {{ atributo.numero }}</h5>
             {% endfor %}
         </div>
        <div class="card-body">
            <h6>Confirme para excluir o registro difinitivamente <i class="bi bi-exclamation-triangle-fill" style="font-size: 15px;"><!--Icone--></i></h6>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <p>Tem certeza que deseja excluir o processo?</p>
                <br>
                <div>
                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash" style="font-size: 15px;"><!--Icone lixeira--></i></button>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left" style="font-size: 15px;"><!--Icone voltar--></i></a>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}