<!-- Lista de andamentos do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Andamentos do Processo</title>
{% endblock %}





{% block conteudo %}
    <style>


        .div {
    
            padding: 20px;

        }

    </style>


        <div class="div">
            <!-- Conteúdo da div -->
            <div class="card-body">
                <div class="box" style="width: 25%; float: left;">
                    {% for atributo in dados_processo %}
                        <h6>Processo: {{ atributo.numero }}</h6>
                    {% endfor %}
                    <hr>
                    <div class="table-responsive">
                        <!-- <br> -->
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th>Andamento</th>
                                    <th>Arquivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for andamento in object_list %}
                                <tr>
                                    <td>{{ andamento.andamento }}</td>
                                    <!-- Se existir arquivo, mostra o ícone que leva para a página de arquivos, se não, fica em branco -->
                                    {% if andamento.arquivo%}
                                        <td>
                                            <a href="{{ andamento.arquivo.url}}" target="arquivo_andamento">abrir</a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                        {% endif%}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left" style="font-size: 15px;"><!--Icone--></i></a>
                        </div>           
                    </div>
                    <div>
                        <iframe name="arquivo_andamento" width="1200" height="800"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- iframe aqui -->
    </div>










  

          

{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            // $('#tabela-listar').DataTable();
        
            // });

            $('#tabela-listar-andamento').DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum andamento registrado",
                    "info": "Andamentos Registrados: _TOTAL_",
                    "infoEmpty": "Andamentos Registrados: 0",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ andamentos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum andamento encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>

{% endblock %}
