<!-- Lista de andamentos do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Andamentos do Processo</title>
{% endblock %}

{% block conteudo %}  
    <div class="container p-5">
        <br><br>
        <div class="card">
            <div class="card-header text-white" style="background-color: #0098DB;">
                <h5 style="text-align: center;">Andamentos do Processo</h5>
            </div>
            <div class="card-body">
                <!--Lista de andamentos-->
                <div class="table-responsive">
                    <br>
                    <table class="table table-striped" id="tabela-listar-andamento">
                        <thead>
                            <tr class="table-secondary">
                                <th>Processo</th>
                                <th>Data do Andamento</th>
                                <th>Tipo</th>
                                <th>Prazo</th>
                                <th>Criado por</th>
                                <th>Criado em</th>
                                <th>Abrir/Excluir</th> 
                                <th>Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for andamento in object_list %}
                            <tr>
                                <td>{{ andamento.processo }}</td>
                                <td>{{ andamento.data_andamento }}</td>
                                <td>{{ andamento.andamento }}</td>
                                {% if andamento.data_prazo == Null %}
                                <td><!--Campo ficará vazio pois a data do prazo não foi selecionada --></td>
                                {% else %}
                                <td>{{ andamento.data_prazo }}</td>
                                {% endif%}
                                <!-- <td>{{ user.get_full_name }}</td> -->
                                <td>{{ andamento.criador_andamento_adm.get_full_name }}</td>
                                <td>{{ andamento.data_criacao }}</td>
                                <td>
                                    <a href="{% url 'andamento-adm-update' andamento.pk %}" class="btn btn-primary btn-sm"><i class="bi bi-gear" style="font-size: 15px;"><!--Editar Andamento (usando ícone)--></i></a>

                                    <a href="{% url 'andamento-adm-delete' andamento.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash" style="font-size: 15px;"><!--Excluir Andamento (usando ícone)--></i></a>
                                </td>
                                <td>
                                    <a href="{% url 'arquivo-andamento-adm-list' andamento.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-folder-check" style="font-size: 15px;"><!--Listar Arquivos do andamento (usando ícone)--></i></a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left" style="font-size: 15px;"><!--Icone--></i></a>
                </div>           
            </div>
        </div>
        <br>
    </div>    
{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            // $('#tabela-listar').DataTable();
        
            // });

            $('#tabela-listar-andamento').DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum andamento registrado",
                    "info": "Andamentos Registrados: _TOTAL_",
                    "infoEmpty": "Andamentos Registrados: 0",
                    "infoFiltered": "(Filtrado de _MAX_ andamentos no total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ andamentos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum andamento encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>
{% endblock %}
