<!-- Lista de andamentos do Processo Administrativo-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Andamentos do Processo</title>
{% endblock %}

{% block conteudo %}  
    <div class="container p-4">
        <div class="card">
            <div class="card-header text-white" style="background-color: #5c5c5c;">
                    <h5 style="text-align: center;">Lista de Andamentos</h5>
            </div>
            <div class="card-body">
                {% for atributo in dados_processo %}
                    <h5>Processo: {{ atributo.numero }}</h5>
                {% endfor %}
                <hr>
                <div class="table-responsive">
                    <!-- <br> -->
                    <table class="table table-striped" id="tabela-listar-andamento">
                        <thead>
                            <tr class="table-secondary">
                                <th>Processo</th>
                                <th>Data</th>
                                <th>Tipo</th>
                                <th>Prazo</th>
                                {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                    <th>Criado por</th>
                                    <th>Criado em</th>
                                {% endif %}
                                    <th>Ver/Editar</th> 
                                <th>Arquivo</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for andamento in object_list %}
                            <tr>
                                <td>{{ andamento.processo }}</td>
                                <td>{{ andamento.data_andamento|date:"d/m/Y" }}</td>
                                <td><b>{{ andamento.andamento }}</b></td>
                                {% if andamento.data_prazo == Null %}
                                <td><!--Campo ficará vazio pois a data do prazo não foi selecionada --></td>
                                {% else %}
                                <td>{{ andamento.data_prazo|date:"d/m/Y" }}</td>
                                {% endif%}
                                <!-- <td>{{ user.get_full_name }}</td> -->
                                {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                    <td>{{ andamento.criador_andamento_adm.get_full_name }}</td>
                                    <td>{{ andamento.data_criacao|date:"d/m/Y" }}</td>
                                {% endif%}
                                    <td>

                                        <a href="{% url 'andamento-adm-view' andamento.pk %}"><img src="{% static 'img/olho3.png' %}" width="30"></a>

                                        {% if user.is_staff %} <!--Membro da equipe = is_staff-->
                                            <a href="{% url 'andamento-adm-update' andamento.pk %}"><img src="{% static 'img/editar.png' %}" width="30"></a>
                                        {% endif%}

                                        {% if user.is_superuser %} <!-- Super Usuário -->
                                            <a href="{% url 'andamento-adm-delete' andamento.pk %}"><img src="{% static 'img/excluir.png' %}" width="25"></a>
                                        {% endif%}
                                    </td>
                                
                                <!-- Se existir arquivo, mostra o ícone que leva para a página de arquivos, se não, fica em branco -->
                                {% if andamento.arquivo%}
                                    <td>
                                        <!-- <a href="{{ andamento.arquivo.url}}"><img src="{% static 'img/download.png' %}" width="30"></a> -->

                                        <a href="{{ andamento.arquivo.url }}" target="arquivo_iframe">Abrir PDF</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                    {% endif%}
                                </tr>
                                {% endfor %}
                                <iframe name="arquivo_iframe" width="1270" height="500"></iframe>
                            </tbody>
                            
                        </table>
                        <a href="{% url 'proc-adm-list' %}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left" style="font-size: 15px;"><!--Icone--></i></a>
                    </div>           
                </div>
            </div>
                    
            <br><br>
            <!-- <h1>Visualizador de PDF</h1> -->

            

    </div>   
{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            // $('#tabela-listar').DataTable();
        
            // });

            $('#tabela-listar-andamento').DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum andamento registrado",
                    "info": "Andamentos Registrados: _TOTAL_",
                    "infoEmpty": "Andamentos Registrados: 0",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ andamentos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum andamento encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>

{% endblock %}
