<!--Lista de Arquivos do andamento-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
<title>Arquivos do Andamento</title>
{% endblock %}

{% block conteudo %} 
<div class="container p-5">
    <br><br>
    <div class="card">
        <div class="card-header text-white" style="background-color: #0098DB;">
            <h5 style="text-align: center;">Arquivos do Andamento</h5>
         </div>
        <div class="card-body">
            <!--Tabela(lista) de Arquivos do andamento-->
            <div class="table-responsive">
                <br>
                <table class="table table-striped" id="tabela-listar-arquivo">
                    <thead>
                        <tr class="table-secondary">
                            <th>Arquivos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for arquivo in object_list %}
                            {% if arquivo.arquivo_1 %}
                                <tr>
                                    <td>
                                        {{ arquivo.arquivo_1.name }}
                                        <a href="{{ arquivo.arquivo_1.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if arquivo.arquivo_2 %}
                                <tr>
                                    <td>
                                        {{ arquivo.arquivo_2.name }}
                                        <a href="{{ arquivo.arquivo_2.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if arquivo.arquivo_3 %}
                                <tr>
                                    <td>
                                        {{ arquivo.arquivo_3.name }}
                                        <a href="{{ arquivo.arquivo_3.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--Código CSS + JavaScript para criar botão de voltar para a página anterior -->
            <button class="btn btn-secondary btn-sm" id="btnVoltar"><i class="bi bi-arrow-left" style="font-size: 15px;"><!--Icone--></i></button>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}

{% block scripts %}

<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>

<!-- Importação JS da minha 'datatable' -->
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

<script>
    // Para transformar minha lista em um datatable
    $(document).ready(function(){
        $('#tabela-listar-arquivo').DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [],
            "pageLength": 5,
            "language": {
                "decimal": "",
                "emptyTable": "Nenhum arquivo anexado",
                "info": "Arquivos Anexados: _TOTAL_",
                "infoEmpty": "Arquivos Anexados: 0",
                "infoFiltered": "(Filtrado de _MAX_ arquivos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ arquivos",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Buscar:",
                "zeroRecords": "Nenhum andamento encontrado",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });

    });

</script>
{% endblock %}