<!--Lista de Processos Administrativos-->

{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    <title>Processo Administrativo</title>
{% endblock %}

{% block conteudo %} 
    <div class="container p-5">
        <div class="card">
            <div class="card-header text-white" style="background-color: #0098DB;">
                <h5 style="text-align: center;">Processos Administrativos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header text-white" style="background-color: #0098DB; text-align: center;" >
                            <h6>Cadastrar Processo</h6>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'proc-adm-create' %}" class="btn btn-success btn-sm"><i class="bi bi-check-lg" style="font-size: 15px;"><!--Cadastrar Processo (usando ícone)--></i> Novo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    <!--Apenas para ocupar espaço e enquadrar os cards da maneira que quero  -->
                    </div>
                    <div class="col">
                        <!--Apenas para ocupar espaço e enquadrar os cards da maneira que quero  -->
                    </div>
                    <div class="col">
                        <!--Apenas para ocupar espaço e enquadrar os cards da maneira que quero  -->
                    </div>
                    <div class="col">
                        <!--Apenas para ocupar espaço e enquadrar os cards da maneira que quero  -->
                    </div>
                    <div class="col">
                        <!--Apenas para ocupar espaço e enquadrar os cards da maneira que quero  -->
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header text-white" style="background-color: #0098DB; text-align: center;">
                    <h6>Lista de Processos</h6>
                    </div>
                    <div class="card-body">                 
                        <!--Tabela(lista) de Processos-->
                        <div class="table-responsive">
                            <br>
                            <table class="table table-hover table-light" id="tabela-listar">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>Processo</th>
                                        <th>Município</th>
                                        <th>Contribuinte</th>
                                        <th>Tipo de Pessoa</th>
                                        <th>CPF/CNPJ</th>
                                        <th>Criado por</th>
                                        <th>Criado em</th>
                                        <th>Editar/Excluir</th>        
                                        <th>Andamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for processo in object_list %}
                                    <tr>
                                        <td>{{ processo.numero }}</td>
                                        <td>{{ processo.municipio }}</td>
                                        <td>{{ processo.nome_contribuinte }}</td>
                                        <td>{{ processo.tipo_pessoa }}</td>
                                        <td>{{ processo.documento }}</td>
                                        <td>{{ processo.criador_processo_adm.get_full_name }}</td>
                                        <td>{{ processo.data_criacao }}</td>
                                        <td>
                                            <a href="{% url 'proc-adm-update' processo.pk %}" class="btn btn-primary btn-sm"><i class="bi bi-gear" style="font-size: 15px;"><!--Editar Processo (usando ícone)--></i></a>

                                            <a href="{% url 'proc-adm-delete' processo.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash" style="font-size: 15px;"><!--Excluir Processo (usando ícone)--></i></a>
                                        </td>
                                        <td> 
                                            <a href="{% url 'andamento-adm-create' processo.pk %}" class="btn btn-success btn-sm" ><i class="bi bi-plus-circle" style="font-size: 15px;"><!--Novo Andamento (usando ícone)--></i></a>

                                            <a href="{% url 'andamento-adm-list' processo.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-card-checklist" style="font-size: 15px;"><!--Listar Andamentos (usando ícone)--></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
{% endblock %}

{% block scripts %}
    <!-- Importação JS da minha 'datatable' -->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>
        // Para transformar minha lista em um datatable
        $(document).ready(function(){
            // $('#tabela-listar').DataTable();
        
            // });

            $('#tabela-listar').DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 5,
                "language": {
                    "decimal": "",
                    "emptyTable": "Nenhum processo registrado",
                    "info": "Processos Registrados: _TOTAL_ ",
                    "infoEmpty": "Processos Registrados: 0",
                    "infoFiltered": "(Filtrado de _MAX_ processos no total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ processos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum processo encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });

        });
    </script>
{% endblock %} 

