{% extends 'index.html' %}

{% load static %}

{% block titulo %}
<title>Sem Permissão</title>
{% endblock %}

{% block conteudo %}
    <!-- Painel de Login principal -->
    <br><br>
    <section class="vh-50 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="card text-black" style="border-radius: 1rem; background-color: #ffe605;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-1 mt-md-1 pb-1">
                                <!-- <h2 class="fw-bold mb-2 ">CP-Aeg</h2> -->
                                <img src="{% static 'img/sem-permissao.png' %}" alt="" width="50">
                                <div class="container" style="color: rgb(0, 0, 0);">
                                    <h3>Usuário sem Permissão</h3>
                                    <br>
                                    <h6>Somente usuários da classe 'Consultor' possuem permissão para alterar registros do sistema</h6>
                                    <br>
                                    <button class="btn btn-light btn-sm" id="btnVoltar"><b>Voltar</b></button>
                                    <br><br>
                                    <p>Se permanecer com dúvidas, entrar em contato com o Suporte</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
    <script>
        // Adicione um evento de clique ao botão
        document.getElementById("btnVoltar").addEventListener("click", function() {
            // Utilize a função window.history.back() para voltar para a página anterior
            window.history.back();
        });
    </script>
{% endblock %}