<!-- Formulário de create de Andamento-->

{% extends 'index.html' %}

{% load static %}

{% load widget_tweaks %}  <!--# Biblioteca Widget - Muito importante - Torna possível eu criar um formulário HTML próprio sincronizado com as Class Based Views.-->

{% block titulo %}
<title>Cadastrar Andamento</title>
{% endblock %}

{% block conteudo %}
<div class="container p-4">
    <div class="card">
        <div class="card-header text-white" style="background-color: #0098DB;">
                <h5 style="text-align: center;">Cadastrar Andamento</h5>
         </div>
        <div class="card-body">
            {% for atributo in dados_processo %}
                <h5>Processo: {{ atributo.numero }}</h5>
            {% endfor %}
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="row">
                    <div class="col">
                        <label for="data_andamento">Data do Andamento <b>*</b></label>
                        {% render_field form.data_andamento class="form-control" type="date" id="data_andamento"%}
                    </div>
                    <div class="col" >
                        <label for="andamento">Tipo de Andamento <b>*</b></label>
                        {% render_field form.andamento class="andamento form-control" id="andamento"%}
                    </div>
                    <!-- O campo a baixo só ira aparecer para o usuário se no campo anterior, o valor 'Encerrado' for selecionado -->
                    <div class="col" style="display: none;" id="situacao_pagamento"> <!--style="display: none;" Deixa o campo invizível-->
                        <label for="situacao_pagamento">Situação do Pagamento <b>*</b></label>
                        {% render_field form.situacao_pagamento class="form-control" id="sit"%}
                    </div>
                    <!-- O campo a baixo só ira aparecer para o usuário se no campo anterior, o valor 'Com Pagamento' for selecionado -->
                    <div class="col" style="display: none;" id="valor_pago">
                        <label for="valor_pago">Total do Valor Pago <b>*</b></label>
                        {% render_field form.valor_pago class="form-control" id="pag"%}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="data_prazo">Prazo</label>
                        {% render_field form.data_prazo class="form-control" type="date" id="data_prazo"%}
                    </div>
                    <div class="col">
                        <label for="data_recebimento">Confirmado o Recebimento em</label>
                        {% render_field form.data_recebimento class="form-control" type="date" id="data_recebimento"%}
                    </div>
                    <div class="col">
                        <label for="complemento">Complemento</label>
                        {% render_field form.complemento class="form-control" id="complemento"%}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <!-- <label for="arquivo_1">Arquivo</label> -->
                        {% render_field form.arquivo_1 class="form-control"%}
                    </div>
                    <div class="col">
                        <!-- <label for="arquivo_2">Arquivo</label> -->
                        {% render_field form.arquivo_2 class="form-control" id="arquivo_2"%}
                    </div>
                    <div class="col">
                        <!-- <label for="arquivo_3">Arquivo</label> -->
                        {% render_field form.arquivo_3 class="form-control" id="arquivo_3"%}
                    </div> 
                </div>
                <br><br>
                <div>
                    <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-check-lg" style="font-size: 15px;"><!--Icone--></i></button>
                    <a href="{% url 'proc-adm-list' %}" class="btn btn-danger btn-sm"><i class="bi bi-x-lg" style="font-size: 15px;"><!--Icone--></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>

<!-- Importação do Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Função em Java Script para mostrar/ocultar campos com base nas seleções -->
<script>
    $(document).ready(function() {
    // Função para mostrar/ocultar campos com base nas seleções
    function toggleFields() {
        var andamento = $(".andamento");
        var situacao = $("#sit");
        var pago = $("#pag");
        
        if (andamento.val() === "Encerrado") {
            $("#situacao_pagamento").show();
            if (situacao.val() === 'Com Pagamento') {
                $("#valor_pago").show();
                
                // Para tornar o campo 'valor_pago' obrigatório se o select 'situacao_pagamento' for igual a 'Com Pagamento'
                pago.prop('required', true);

            }else if(situacao.val() === 'Sem Pagamento'){ 
                $("#valor_pago").hide();
                pago.val("");
                
                // Para tornar o campo 'valor_pago' não obrigatório se o select 'situacao_pagamento' for igual a 'Sem Pagamento'
                pago.prop('required', false);

            }else if(situacao.val() === ""){
                situacao.val("Sem Pagamento"); 
                $("#valor_pago").hide();
                pago.val("");
                pago.prop('required', false);
            }
        }else {
            $("#situacao_pagamento").hide();
            $("#valor_pago").hide();

            // Limpa o valor inserido no campo "valor_pago" quando ele deixa de ser mostrado
            pago.val("");
        }
    }
        
        // Chame a função ao carregar a página
        toggleFields();
        
        // Adicione ouvintes de eventos para atualizar os campos quando as seleções mudarem
        $("#andamento, #situacao_pagamento").on("change", toggleFields);
        
    });
</script>

<!-- Importação do arquivo dentro da pasta static/js para usar máscaras nos campos input -->
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<!-- Aplicação de máscara de valor no campo input do atributo 'valor_pago' que possui o id = 'pag' -->
<script>
    $(document).ready(function(){
        $('#pag').mask("000,000,000.00", {reverse: true});

    })
</script>

{% endblock %}


