<!-- Formulário de create de Andamento-->

{% extends 'index.html' %}

{% load static %}

{% load widget_tweaks %}  <!--# Biblioteca Widget - Muito importante - Torna possível eu criar um formulário HTML próprio sincronizado com as Class Based Views.-->

{% block titulo %}
<title>Cadastrar Andamento</title>
{% endblock %}

{% block conteudo %}
<div class="container p-4">
    <div class="card">
        <div class="card-header text-white" style="background-color: #0098DB;">
                <h5 style="text-align: center;">Cadastrar Andamento</h5>
         </div>
        <div class="card-body">
            {% for atributo in dados_processo %}
                <h5>Processo: {{ atributo.numero }}</h5>
            {% endfor %}
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="row">
                    <div class="col">
                        <label for="data_andamento">Data do Andamento</label>
                        {% render_field form.data_andamento class="form-control" type="date" id="data_andamento"%}
                    </div>
                    <div class="col">
                        <label for="andamento">Tipo de Andamento</label>
                        {% render_field form.andamento class="form-control" id="andamento"%}
                    </div>
                    <!-- O campo a baixo só ira aparecer para o usuário se no campo anterior, o valor 'Encerrado' for selecionado -->
                    <div class="col" style="display: none;" id="situacao_pagamento"> <!--style="display: none;" Deixa o campo invizível-->
                        <label for="situacao_pagamento">Total do Valor Pago</label>
                        {% render_field form.situacao_pagamento class="form-control" id="situacao_pagamento"%}
                    </div>
                    <!-- O campo a baixo só ira aparecer para o usuário se no campo anterior, o valor 'Com Pagamento' for selecionado -->
                    <div class="col" style="display: none;" id="total_valor_pago">
                        <label for="total_valor_pago">Total do Valor Pago</label>
                        {% render_field form.total_valor_pago class="form-control" id="total_valor_pago"%}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="data_prazo">Prazo</label>
                        {% render_field form.data_prazo class="form-control" type="date" id="data_prazo"%}
                    </div>
                    <div class="col">
                        <label for="data_recebimento">Confirmado o Recebimento em</label>
                        {% render_field form.data_recebimento class="form-control" type="date" id="data_recebimento"%}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="complemento">Complemento</label>
                        {% render_field form.complemento class="form-control" id="complemento"%}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <!-- <label for="arquivo_1">Arquivo</label> -->
                        {% render_field form.arquivo_1 class="form-control"%}
                    </div>
                    <div class="col">
                        <!-- <label for="arquivo_2">Arquivo</label> -->
                        {% render_field form.arquivo_2 class="form-control" id="arquivo_2"%}
                    </div>
                    <div class="col">
                        <!-- <label for="arquivo_3">Arquivo</label> -->
                        {% render_field form.arquivo_3 class="form-control" id="arquivo_3"%}
                    </div> 
                </div>
                <br><br>
                <div>
                    <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-check-lg" style="font-size: 15px;"><!--Icone--></i></button>
                    <a href="{% url 'proc-adm-list' %}" class="btn btn-danger btn-sm"><i class="bi bi-x-lg" style="font-size: 15px;"><!--Icone--></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>

<!-- Importação do Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Usei java script para mostrar o campo 'situacao_pagamento' se no campo 'andamento' for selecionado a opção 'Encerrado' -->
<script>
    $(document).ready(function() {
      $('#andamento').change(function() {
        var selectedOption = $(this).val();
        if (selectedOption === 'Encerrado') {
          $('#situacao_pagamento').show();
        } else {
          $('#situacao_pagamento').hide();
        }
      });
    });
</script>



{% endblock%}


